.footer {
    background-color: darkgray;
    background-image: url("../../../images/lake.jpg");
    background-position: center;
    color: rebeccapurple;
    height: 100px;
    font-size: 20px;
    font-weight: bold;
}